
* {
  margin: auto 0;
}

a {
  text-decoration: none;
  color: #E0EFDE;
}
a:visited {
  color: #E0EFDE;
}

body {
  background-color: #e05c1c;
  text-align: center;
}

.header {
  text-align: center;
  background-color: #E0EFDE;
}

.header_container {
  padding-top: 20px;
}

.headshot {
  width: 450px;
  background-color: transparent;

}

.header_name {
  color: #2E2D2F;
  font-size: 120px;
  text-transform: uppercase;
  letter-spacing: 20px;
  font-family: 'Oswald', sans-serif;

}

.header_text {
  color: #2E2D2F;
  font-size: 40px;
  text-transform: lowercase;
  letter-spacing: 18px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  padding-bottom: 25px;
  margin-top: -25px;

}

.nav {
  background-color: #2E2D2F;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 18px;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 3px;
}

.icons {
  width: 20px
}

.nav_links {
  height: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
.nav_links:hover {
  background-color: #e05c1c;
}

.page_header {
  color: #E0EFDE;
  font-size: 80px;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 10px;
  font-family: 'Montserrat', sans-serif;
  padding: 15px;
}
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content_block {
  background-color: #E0EFDE;
  width: 75%;
  text-align: left;
  box-shadow: 10px 10px 15px -7px rgba(0,0,0,0.65);
  margin-left: 15px;
  margin-bottom: 25px;
  border-radius: 15px;
}

.item_block {
    background-color: #E0EFDE;
    width: 90%;
    display: flex;
    flex-direction: row;
    margin: 20px;
}
.item_block2 {
  background-color: #E0EFDE;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 20px;
}

.content_block_home {
  display: flex;
  flex-direction: row;
  background-color: #E0EFDE;
  width: 80%;
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: left;
  box-shadow: 10px 10px 15px -7px rgba(0,0,0,0.65);
  border-radius: 15px;
}

.home {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.content_header {
  color: #0373AA;
  font-size: 40px;
  padding: 10px;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.content_text {
  color: #2E2D2F;
  font-size: 18px;
  line-height: 150%;
  padding: 0px 35px 35px 35px;
  font-family: 'Montserrat', sans-serif;
}

.contact_logo {
  color: #2E2D2F;
  font-size: 18px;
  line-height: 150%;
  padding: 0px 35px 35px 35px;
  font-family: 'Montserrat', sans-serif;
}

.school_logo {
  height: 90px;
  float: right;
  padding-right: 10px;
  margin-top: -92px;
}

.scrap_block {
  background-color: #E0EFDE;
  width: 75%;
  text-align: left;
  box-shadow: 10px 10px 15px -7px rgba(0,0,0,0.65);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px auto;
}

.excerpt_container {
  background-color: #eff8ed;
  width: 85%;
  border: 1px solid #2E2D2F;
  border-radius: 15px;
  margin: 20px;
  box-shadow: 10px 10px 15px -7px rgba(0,0,0,0.65);
  padding: 5px

}

.scrap {
  width: 60%;
  margin: auto 0;
}

.subheader {
  color: #2E2D2F;
  font-size: 22px;
  font-weight: bold;
  line-height: 150%;
  padding: 0px 35px 10px 35px;
  font-family: 'Montserrat', sans-serif;
}

.snippet {
  color: #2E2D2F;
  width: 80%;
  font-style: italic;
  font-size: 18px;
  line-height: 150%;
  padding-left: 35px;
  margin-left: 15px;
  margin-bottom: 15px;
  font-family: 'Montserrat', sans-serif;
}

.dwnld_icon {
  height: 50px;
  float: right;
  padding-right: 10px;
  margin-top: -50px;
}

.connect_container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.contact_container {
  margin-top: 20px;
}

.big_icons {
  height: 30px
}

.content_block_contact {
  background-color: #E0EFDE;
  width: 45%;
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: left;
  box-shadow: 10px 10px 15px -7px rgba(0,0,0,0.65);
}

.content_header_home {
  color: #0373AA;
  font-size: 40px;
  padding: 10px;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-bottom: 10px;
}

.content_text_home {
  color: #2E2D2F;
  font-size: 22px;
  line-height: 150%;
  padding: 0px 35px 35px 55px;
  font-family: 'Montserrat', sans-serif;
  width: 80%;
}

.signoff {

  float: right;
  margin-top: -10px;
  margin-right: 150px;
}
.sincere {
  color: #0373AA;
  font-size: 38px;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  letter-spacing: 5px;
  float: right;

}
.name {
  color: #0373AA;
  font-size: 38px;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  letter-spacing: 5px;
  float: right;
}

.footer {
  background-color: #2E2D2F;
  color: #E0EFDE;
  /* position: fixed; */
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dev_logo {
  width: 200px;
  height: auto;
}


@media only screen 
  and (max-device-width: 812px) 
 {
    
    .header_name {
      font-size: 100px;
    }
    .header_text {
      font-size: 40px;
    }
    .nav {
      font-size: 40px;
    }

    .headshot {
      width: 400px;
      margin-bottom: 0px;
    }

    .content_block {
      width: 100%;
    }

    .content_block2 {
      width: 100%;
    }

    .content_block_home {
      width: 100%;
    }

    .content_text_home {
      padding-right: 0;
    }
    
    .page_header {
      font-size: 68px;
    }

}